body *{
  margin: 0;
}
body{
    overflow: hidden;
    background-color: black;
}
#canvas{
  position: absolute;
  left: 500px;
  background-image: url(img/background.png);
  background-size: cover;
}

main *{
  position: absolute;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
}

#frontPage{
  width: 100%;
  height: 100vh;
  left: 505px;
  z-index: 20;
  top: -10px;
}

#difficulty{
  color: white;
  width: 400px;
  top: 360px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
#difficulty h2{
  font-size: 40px;
  filter: drop-shadow(0px 0px 5px black);
}

#difficulty h3{
  position: relative;
  top: 50px;
  font-size: 30px;
  filter: drop-shadow(0px 0px 5px black);
}

#difficulty article{
  position: relative;
  width: 120px;
  height: 180px;
  top: 55px;
  z-index: 30;
  filter: drop-shadow(0px 0px 10px black);
}

#difficulty article:hover{
  transform: scale(1.1);
}

#hardMode{
  right: 5px;
}

#lvlIndicator{
  width: 30px;
  height: 40px;
  top: 410px;
  left: 190px;
  transition: 1s;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce{
  0%{top: 410px;}
  50%{top: 405px;}
  100%{top: 410px;}
}

#difficulty img{
  position: relative;
  z-index: 29;
  cursor: pointer;
}

#imgEasy{
  top: 50px;
  height: 100px;
  left: 4px;
  width: 80px;
}
#imgNormal{
  top: 50px;
  height: 100px;
  width: 50px;
}

#imgHard{
  top: 50px;
  height: 100px;
  width: 30px;
}

#gameEnd{
  width: 100%;
  display: none;
  left: 505px;
  z-index: 20;
}

#gameTitle{
  color: rgb(204, 76, 2);
  font-size: 80px;
  text-align: center;
  left: 45px;
  top: 45px;
  text-shadow: 6px 0px rgb(112, 42, 2);
  filter: drop-shadow(0px 0px 2px black);
}

.button{
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  background-color: rgb(235, 211, 204);
  text-shadow: 2px 0px 2px white;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(204, 76, 2);
  text-align: center;
  border: 10px outset rgb(204, 76, 2);
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px black);
}

#play{
  top: 255px;
  left: 120px;
}

#play:hover{
  border: 10px inset rgb(204, 76, 2);;
  background-color: rgb(184, 165, 159);
  color: rgb(110, 41, 1);
  text-shadow: 2px 0px 2px rgb(214, 214, 214);
}

#gameOverTitle{
  color: white;
  font-size: 90px;
  top: 105px;
  left: 50px;
  text-shadow: 5px 0px rgb(204, 76, 2);
  filter: drop-shadow(0px 0px 20px black);
}

#home{
  top: 260px;;
  left: 260px;
  height: 70px;
  width: 60px;
  background-image: url(img/home.png);
  background-size: cover;
  padding-bottom: 5px;
}

#home img{
  position: relative;
  width: 80px;
  padding: 0px;
}

#retry{
  top: 260px;
  left: 50px;
}

#home:hover{
  border: 10px inset rgb(204, 76, 2);;
  background-color: rgb(184, 165, 159);
  color: rgb(110, 41, 1);
  text-shadow: 2px 0px 2px rgb(214, 214, 214);
}

#retry:hover{
  border: 10px inset rgb(204, 76, 2);;
  background-color: rgb(184, 165, 159);
  color: rgb(110, 41, 1);
  text-shadow: 2px 0px 2px rgb(214, 214, 214);
}

#leaderBoard{
  background-color: rgb(235, 211, 204);
  border: 10px outset rgb(204, 76, 2);
  position: relative;
  height: 310px;
  width: 350px;
  left: 970px;
  font-family: 'VT323', monospace;
  color: black;
}

#leaderBoard h1{
  position: relative;
  text-align: center;
  font-size: 40px;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 35px;
  text-transform: uppercase;
}

#container div{
  padding: 35px 35px 15px 35px;
}

#scoreList{
  text-align: right;
  list-style: none;
}

#hsBtns{
  position: absolute;
  display: flex;
  width: 310px;
  left: 20px;
  justify-content: space-around;
  font-size: 30px;
  color: black;
  z-index: 20;
}

#hsBtns div{
  cursor: pointer;
}

#hsIndicator{
  position: absolute;
  left: 120px;
  width: 15px;
  height: 25px;
}

#newBestScore{
  height:250px;
  width:340px;
  background-color:rgba(236, 103, 14, 0.952);
  top: 210px;
  left: 529px;
  z-index: 21;
  border: 10px solid rgb(105, 40, 2);
  border-radius: 100px;
  display: none;
}

#newBestScore h1{
  top: 30px;
  left: 80px;
  letter-spacing: 6px;
  font-size: 45px;
  color: rgb(248, 203, 167);
  text-shadow: 3px 0px rgb(48, 24, 10);
}

#inpName{
  height: 30px;
  width: 120px;
  top: 90px;
  left: 75px;

  background-image: url(./img/nut.png);
  background-position: 5px;
  background-size: 20px;
  background-repeat: no-repeat;

  font-size: 30px;
  padding-left: 56px;
  letter-spacing: 5px;   

  border: 10px double rgb(172, 68, 8);
  border-radius: 15px;
  background-color: rgb(224, 197, 165);
  color: rgb(110, 41, 1);
  text-shadow: 2px 0px 2px rgb(214, 214, 214);
}

#subHiscore{
  height: 35px;
  width: 130px;
  top: 170px;
  left: 105px;
  background-color: rgb(224, 197, 165);
  border: 4px solid rgb(172, 68, 8);
  border-radius: 30px;
}

#subHiscore h3{
  color: rgb(129, 124, 120);
  text-shadow: 2px 0px rgb(218, 214, 212);
  top: 8px;
  left: 10px;
  font-size: 20px;
}

#subHiscore:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);   
}

#inpName:focus{
  outline: none;
}

.choosenSquirrel{
  filter: drop-shadow(0 0 5px rgb(42, 252, 0));
}